<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
            watch
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/cp.css">
        <link rel="stylesheet" href="/watch_c.css">
        
    </head>
    <body>
        <!-- 배경 -->
        <div>
            <img class="background" src="/triangle.png" alt="triangle">
        </div>
        <a href="/main">
            <div><img class="user" src="/account-circle.png"></div>
        </a>
        <!-- 하얀선 -->
        <div>
            <img class="vector-2-CJX" src="/line_1.png" alt="line_1">
        </div>
        <div>
            <img class="vector-3-aCb" src="/line_2.png" alt="line_2">
        </div>
        <!-- 헤더라인 -->
        <div>
            <ul class="row" style="position: fixed;">
                <li class="menu"><a href="/main" class="under">HOME</a></li>
                <li class="menu"><a href="/club" class="under">CLUB</a></li>
                <li class="menu"><a href="/board" class="under">BOARD</a></li>
                <li class="menu"><a href="/job" class="under">JOB</a></li>
                <li class="menu" ><a href="/sellgift" class="under">SELL & GIFT</a></li>
            </ul>
        </div>
        
        <!-- make campus life more fun -->
        <div class="title" style="position: absolute; left: 152.14px; top: 114.06px;">m</div>
        <div class="title" style="position: absolute; left: 247.42px; top: 156.06px;">a</div>
        <div class="title" style="position: absolute; left: 319.04px; top: 130.06px;">k</div>
        <div class="title" style="position: absolute; left: 396.53px; top: 140.06px;">e</div>
        <div class="title" style="position: absolute; left: 433.3px; top: 245px;">C</div>
        <div class="title" style="position: absolute; left: 509.77px; top: 265px;">a</div>
        <div class="title" style="position: absolute; left: 581.3px; top: 255px;">m</div>
        <div class="title" style="position: absolute; left: 714.4px; top: 239px;">p</div>
        <div class="title" style="position: absolute; left: 799.81px; top: 260px;">u</div>
        <div class="title" style="position: absolute; left: 868.36px; top: 235px;">s</div>
        <div class="title" style="position: absolute; left: 961.73px; top: 241px;">L</div>
        <div class="title" style="position: absolute; left: 1029.27px; top: 241px;">i</div>
        <div class="title" style="position: absolute; left: 1071.97px; top: 241px;">f</div>
        <div class="title" style="position: absolute; left: 1110.7px; top: 250px;">e</div>
        <div class="title" style="position: absolute; left: 914.06px; top: 373.06px;">m</div>
        <div class="title" style="position: absolute; left: 1040.21px; top: 350.06px;">o</div>
        <div class="title" style="position: absolute; left: 1119.66px; top: 374.06px;">r</div>
        <div class="title" style="position: absolute; left: 1169.34px; top: 378.06px;">e</div>
        <div class="title" style="position: absolute; left: 1281.61px; top: 355.06px;">f</div>
        <div class="title" style="position: absolute; left: 1322.33px; top: 375.06px;">u</div>
        <div class="title" style="position: absolute; left: 1403.78px; top: 355.06px;">n</div>

        <form>
            <table>
                <tr>
                    <td>
                        <!-- board -->
                        <div class="searching">&nbsp;E2I3</div>
                        <!-- 글 보는 창 -->
                        <div class="view_block">
                            <!-- 사용자 정보 -->
                            <div style="position: absolute;  left:100px; top: 74px; z-index: 1;">
                                <img src="/account-circle.png" alt="profile" style="height: 45px; width: 45px;">
                            </div>
                            <div style="position: absolute; font-size: 25px; left: 150px; top: 80px; font-family: 'Courier New', Courier, monospace; z-index: 1;" th:text="${board.writer}">

                            </div>
                            <!-- 제목 및 내용 -->
                            <div class="article">
                                <div class="b_title" th:text="${board.title}"></div>
                                <div class="white_line"></div>
                                <div class="b_details" th:text="${board.content}">

                                    <img src="/camera.png">
                                </div>
                            </div>
                            <!-- 댓글 -->
                            <div class="comment" style="top: 73px;">
                                <form>
                                    <table>
                                        <tr> <!--tr 한줄 마다 댓글 하나-->
                                            <td><!-- 사용자 정보 -->
                                                <div style="position: absolute;  left:15px; top: 30px; z-index: 1;">
                                                    <img src="/account-circle.png" alt="profile" style="height: 30px; width: 30px;">
                                                </div>
                                                <!-- 닉네임 -->
                                                <div style="position: absolute; font-size: 25px; left: 50px; top: 32px; font-family: 'Courier New', Courier, monospace; z-index: 1;">

                                                </div>
                                            </td>
                                            <td><!--흰색 세로 선-->
                                                <div class="white_line_col"></div> 
                                            </td>
                                            <td>
                                                <!--댓글 내용-->
                                                <div class="comment_details"></div>
                                            </td>
                                        </tr>                                        
                                    </table>
                                </form>
                            </div>
                        </div>
                    </td>
                    <!-- 간단 글 목록 -->
                    <td>
                        <div>
                            <ul>
                                <li><div class="small_block_list" style="top:620px;" th:text="${board0.title}" th:onclick="|location.href='@{/detail/{boardID}(boardID=${board0.id})}'|"></div></li>
                                <li><div class="small_block_list" style="top:737px;" th:text="${board1.title}" th:onclick="|location.href='@{/detail/{boardID}(boardID=${board1.id})}'|"></div></li>
                                <li><div class="small_block_list" style="top:854px;" th:text="${board2.title}" th:onclick="|location.href='@{/detail/{boardID}(boardID=${board2.id})}'|"></div></li>
                                <li><div class="small_block_list" style="top:971px;" th:text="${board3.title}" th:onclick="|location.href='@{/detail/{boardID}(boardID=${board3.id})}'|"></div></li>
                                <li><div class="small_block_list" style="top:1088px;" th:text="${board4.title}" th:onclick="|location.href='@{/detail/{boardID}(boardID=${board4.id})}'|"></div></li>
                                <li><div class="small_block_list" style="top:1205px;" th:text="${board5.title}" th:onclick="|location.href='@{/detail/{boardID}(boardID=${board5.id})}'|"></div></li>
                                <li><div class="small_block_list" style="top:1322px;" th:text="${board6.title}" th:onclick="|location.href='@{/detail/{boardID}(boardID=${board6.id})}'|"></div></li>
                                <li><div class="small_block_list" style="top:1439px;" th:text="${board7.title}" th:onclick="|location.href='@{/detail/{boardID}(boardID=${board7.id})}'|"></div></li>
                                <li><div class="small_block_list" style="top:1556px;" th:text="${board8.title}" th:onclick="|location.href='@{/detail/{boardID}(boardID=${board8.id})}'|"></div></li>
                                <li><div class="small_block_list" style="top:1673px;" th:text="${board9.title}" th:onclick="|location.href='@{/detail/{boardID}(boardID=${board9.id})}'|"></div></li>
                                <li><div class="small_block_list" style="top:1790px;" th:text="${board10.title}" th:onclick="|location.href='@{/detail/{boardID}(boardID=${board10.id})}'|"></div></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        
        <!-- 글 목록 -->
        

    </body>
</html>